_target_: pytorch_lightning.Trainer

default_root_dir: ${paths.output_dir}

min_epochs: 1 # prevents early stopping
max_steps: ${max_steps}

accelerator: gpu
devices: ${devices}
num_nodes: ${num_nodes}

# mixed precision for extra speed-up
# precision: 16

# set True to to ensure deterministic results
# makes training slower but gives more reproducibility than just setting seeds
deterministic: False
benchmark: True
accumulate_grad_batches: ${accumulate_grad_batches}
strategy: ddp
log_every_n_steps: 50
val_check_interval: ${check_interval}
check_val_every_n_epoch: null
limit_val_batches: ${score_cache_size}
limit_test_batches: ${score_cache_size}
num_sanity_val_steps: 1
gradient_clip_val: 1.0
gradient_clip_algorithm: norm